
<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/report/dashboard" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-product-hunt"></i>
                    <p>
                        Product
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/product/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>New Product</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product/index" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>All Products</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-product-hunt"></i>
                    <p>
                        Category
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/category/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>New Category</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/category/index" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>All Categories</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-product-hunt"></i>
                    <p>
                        Brand
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/brand/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>New Brand</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/brand/index" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>All Brands</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cart-plus"></i>
                    <p>
                        Purchase
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/purchase/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>New Purchase</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/purchase/index" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>Purchase Report</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-luggage-cart"></i>
                    <p>
                        Sale
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/sale/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>New Sale</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/sale/index" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>Sales Report</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-luggage-cart"></i>
                    <p>
                        Payment
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/payment/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>Make Payment</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/payment/index" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>All Payments</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-circle"></i>
                    <p>
                        Customer
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/customer/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>Add Customer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customer/index" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>All Customers</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Supplier
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/supplier/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>Add Supplier</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/supplier/index" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>All Suppliers</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-building"></i>
                    <p>
                        Bank
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/bank/create" class="nav-link">
                            <i class="fas fa-plus nav-icon"></i>
                            <p>Add Bank</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bank/index" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>All Banks</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/report/lp" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>Loss or Profit Report</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>