
@{
    ViewBag.Title = "Add New Purchase";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Supplier</label>
                                <select class="form-control" name="add_cmp">
                                    <option selected="selected">Company 01</option>
                                    <option value="Alaska2">Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <div id="itemRows">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Category</label>
                                    <select class="form-control" name="add_ctg">
                                        <option selected="selected">Alabama</option>
                                        <option value="Alaska2">Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Product</label>
                                    <select class="form-control" name="add_prd">
                                        <option selected="selected">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Unit Price</label>
                                    <input class="form-control" type="text" value="10" name="add_price" id="price"/>
                                </div>
                                <div class="col-md-1 form-group">
                                    <label>Quantity</label>
                                    <input class="form-control" type="number" value="1" name="add_qty" id="qty" onkeypress="Sum(this.value)" onmouseout="Sum(this.value)" onchange="Sum(this.value)" />
                                </div>
                                <div class="col-md-1 form-group">
                                    <label>Total</label>
                                    <input class="form-control" type="text" readonly value="0" name="add_total" id="total" />
                                </div>
                                <div class="col-md-1 form-group">
                                    <!-- Item name: <input type="text" name="add_name" />  -->
                                    <label>Action</label>
                                    <input class="btn btn-success form-control" onclick="addRow(this.form);" type="button" value="Add Row" />
                                </div>
                                <div class="col-md-1 form-group">
                                    <!-- Item name: <input type="text" name="add_name" />  -->
                                    <label>Action</label>
                                    <input type="button" onclick="Show()"  class="btn btn-primary form-control" value="Submit" />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                Total : 15263.200 TK
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var rowNum = 0;

        function addRow(frm) {
            rowNum++;
            var row = `<div class="row pb-1 info" id="rowNum${rowNum}">
            <div class="col-md-3"><input readonly class="form-control" name="ctg[]" value="${frm.add_ctg.value}"></div>
            <div class="col-md-3"><input readonly class="form-control" type="text" name="prd[]" value="${frm.add_prd.value}"></div>
            <div class="col-md-2"><input readonly class="form-control" type="text" name="price[]" value="${frm.add_price.value}"></div>
            <div class="col-md-1"><input readonly class="form-control" type="text" name="qty[]" value="${frm.add_qty.value}"></div>
            <div class="col-md-1"><input readonly class="form-control" type="text" name="total[]" value="${frm.add_total.value}"></div>
            <div class="col-md-2"><input class="form-control btn btn-danger" type="button" value="Remove" onclick="removeRow(${rowNum});"></div></div>`;
            //console.log(frm.add_price * frm.add_qty);
            jQuery('#itemRows').append(row);
            frm.add_price.value = '';
            frm.add_qty.value = '';
            frm.add_total.value = '';
            //frm.add_name.value = '';
            frm.add_prd.value = '';
            frm.add_ctg.value = '';
        };

        function Sum(v) {            
            
            let v1 = parseFloat(v);
            let v2 = parseFloat(document.getElementById("price").value);
            //console.log(v1, v2);
            //console.log(v1 * v2);
            document.getElementById("total").value = v1 * v2;   
            v1 = 0;
            v2 = 0;
        };

        function removeRow(rnum) {
            jQuery('#rowNum' + rnum).remove();
        }

        function Show() {            
            console.log($('#itemRows .info'));            
            var tRows = $('#itemRows .info').map(function () {
                return [$(this).find('input').map(function () {
                    return $(this).val()
                }).get()]
            }).get()
            
            console.log(tRows);
          
            console.log(JSON.stringify(tRows));
            let v = JSON.stringify(tRows);

            let request = new XMLHttpRequest();
            if (request != null) {
                var url = "/purchase/create";
                request.open("Post", url, false);
                var params = "{obj: '" + v + "'}";
                request.setRequestHeader("Content-Type", "application/json");
                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        var response = request.responseText;
                        alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    }
                };
                request.send(params);
            }            
        }
    </script>
}
